
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Mansalva:400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);

.aboutCard{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-row-gap: 50px;
    font-family: 'Cute Font';
    
    
  }
  
  
  .aboutName{
    font-size: 3em;
  
    
    
  }
  
  .aboutText{
    font-size: 2em;
  
  }
  
  .aboutNSA{
    font-family: 'Cute Font';
   padding: 3px;
   font-size: 3em;
   text-align: center;
    
  }
  
  .aboutNSA+p{
    font-family :"Mansalva";
  
  }
  
  
  .aboutBio{
    font-family: 'Cute Font';
    font-size: 5em;
    margin:20px;
    padding:20px;
   
  }
  .aboutLogo{
    border: 10px;
  }
  .logo{
    
   font-size: 5em;
   margin-left:50px;
  }
  
  
  /*   About Page Style End*/