
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Mansalva:400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);


/* header style Begin*/
.header-color{
  position: relative;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.name{
  font-family: 'Cute Font';
  font-size: 2em;
}

/* footer style Begin*/



/* footer style Begin*/

.footer-color{
  
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer-notes{
  text-align: center;
  font-family: 'Cute Font';
  position: relative;
}

/* footer style End*/