
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Mansalva:400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);


/* header style Begin*/
.header-color{
  position: relative;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.name{
  font-family: 'Source Serif Pro';
  font-size: 2em;
}

/* footer style Begin*/



.banner-text{
  background-color:white;
  opacity: .9;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size:66px;
  font-weight: bold;
  color:white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width:50%;
  margin: auto;
}

.banner-text p{
  color:white;
  font-size: 20px;
  padding: 1em;
}
.social-links{
display:flex;
justify-content: space-between;
width: 50%;
margin: auto;  
}

.social-links i{
  color: white;
  font-size: 5em;
}
.page-content{
  border: 0px;
}

/*   Home Page Carousel Style Begin*/
.carouselFirst{
 
  position: relative;
  
  height: 100%;
  width: 100%;
  
  text-align: center;
  justify-self: end;

}

.headerFirst{
  position:absolute;                  
  top:0;                          
  left:0;
  right:0;
  font-size: 9em;
  font-family: 'Source Serif Pro';
  color :white;
}

/*   Home Page Carousel Style End*/






/*   About  Page Style Begin*/


.about{
  background-color: aquamarine;
}
.aboutCard{
  display:grid;
  grid-template-columns: 1fr 1fr; 
  grid-row-gap: 50px;
  font-family: 'Source Serif Pro';
  
  
}


.aboutName{
  font-size: 3em;

  
  
}

.aboutText{
  font-size: 2em;

}

.aboutNSA{
  font-family: 'Source Serif Pro';
 padding: 3px;
 font-size: 3em;
 text-align: center;
  
}

.aboutNSA+p{
  font-family :"Source Serif Pro";

}


.aboutBio{
  font-family: 'Source Serif Pro';
  font-size: 5em;
  margin:20px;
  padding:20px;
 
}
.aboutLogo{
  border: 10px;
}
.logo{
  
 font-size: 5em;
 margin-left:50px;
}


/*   About Page Style End*/



/*   Project Page Style Start*/
.projectTitle{
 font-family: 'Source Serif Pro';
 padding: 3px;
 font-size: 3em;
 text-align: center;
  
}
.projectCard{
  display:grid;
  grid-template-columns: 1fr 1fr; 
  grid-row-gap: 50px;
  font-family: 'Source Serif Pro';
  padding:20px;
  
}
.projectName
{
  font-size: 3em;
  color: aqua;
  
  
}

.projectText{
  font-size: 2em;

}

.projectDescription{
  font-size: 2em;
}



/*   Project Page Style End*/






/*   Resources Page Style Start*/


.resourcesTitle{
  font-family: 'Source Serif Pro';
  padding: 3px;
  font-size: 8em;
  text-align: center;
   
 }

.resourcesCard{
  display:grid;
  grid-template-columns: 1fr 1fr; 
  grid-row-gap: 50px;
  font-family: 'Source Serif Pro';
  padding:20px;
  
}

.resourcesText{
  padding:10px;
  font-size: 2em;

}
.resourcesPara{
  padding:15px;
  font-size: 1em;

}
.resourcesButton{
  font-family: 'Source Serif Pro';
  font-size: 2em;

 
}

/*    Resources Page Style End*/






/* footer style Begin*/

.footer-color{
  
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer-notes{
  text-align: center;
  font-family: 'Source Serif Pro';
  position: relative;
}

/* footer style End*/